<div fxLayout.gt-sm="column" fxLayoutGap.gt-sm="16px">
  <h2>Detail user</h2>
  <div fxLayout="row" fxLayoutGap="1em">
    <mat-form-field fxFlex>
      <input matInput placeholder="Email" type="text" required>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(value)]="selected" placeholder="Role">
        <mat-option value="option1">Admin</mat-option>
        <mat-option value="option2">User</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field>
    <input matInput placeholder="Name" type="text" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Status" type="text" required>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="end" fxFlex="100%" fxLayoutGap="1em">
    <button mat-raised-button color="accent">Back</button>
  </div>
</div>
