<fury-scrollbar class="dashboard" furyPage furyPagePadding fxLayout="column" [fxLayoutGap]="gap">

  <div fxLayout="row" [fxLayoutGap]="gap">
    <div class="search-wrapper" fxLayout="row" [ngClass]="{ 'focus': focused, 'has-input': input }" fxFlex>
      <mat-icon class="search-icon">search</mat-icon>
      <input type="search"
             autocomplete="off"
             spellcheck="false"
             class="search-input"
             placeholder="Search...">

    </div>


    <div fxLayout="row" fxLayoutAlign="end center" fxFlex fxLayoutGap="1em">
      <button mat-raised-button color="accent" (click)="openDialog()">Create new user</button>
      <button mat-raised-button color="accent" (click)="openImportDialog()" >Import users</button>
      <!--<input type="file" ngf [(file)]="file" />-->
    </div>

  </div>
  <div class="simple-table" fxLayout="column">
    <div class="table-container" furyScrollbar fxFlex="grow">
      <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped"
             [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
        <thead>
        <tr>
          <!--<th fxHide fxShow.gt-xs></th>-->
          <th>No</th>
          <th>Email</th>
          <th>Name</th>
          <th>Status</th>
          <th>Role</th>
          <th>Action</th>
          <!--<th fxHide fxShow.gt-sm>MAIL</th>-->
          <!--<th fxHide fxShow.gt-xs>PHONE</th>-->
          <!--<th>BALANCE</th>-->
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>admin@gmail.com</td>
          <td>Admin</td>
          <td>Actived</td>
          <td>Admin</td>
          <td fxLayout="row" fxLayoutGap="0.5em">
            <mat-icon (click)="openDetailDialog()">details</mat-icon>
            <mat-icon (click)="openEditDialog()">edit</mat-icon>
            <mat-icon (click)="openDeleteDialog()">delete</mat-icon>

            <!--<button mat-icon-button color="accent" (click)="openDetailDialog()">Details</button>-->
            <!--<button mat-icon-button color="accent" (click)="openEditDialog()">Edit</button>-->
          </td>
          <!--<td class="avatar-cell" fxHide fxShow.gt-xs><img class="avatar" [src]="row.picture"></td>-->
          <!--<td>{{ row.name.first }} {{ row.name.last }}</td>-->
          <!--<td>{{ row.company }}</td>-->
          <!--<td fxHide fxShow.gt-sm>{{ row.email }}</td>-->
          <!--<td fxHide fxShow.gt-xs>{{ row.phone }}</td>-->
          <!--<td>{{ row.balance }}</td>-->
        </tr>
        <tr>
          <td>2</td>
          <td>usera@gmail.com</td>
          <td>User</td>
          <td>Deactived</td>
          <td>User</td>
          <td>***</td>
        </tr>
        <tr>
          <td>3</td>
          <td>userb@gmail.com</td>
          <td>User</td>
          <td>Actived</td>
          <td>User</td>
          <td>***</td>
        </tr>
        <tr>
          <td>4</td>
          <td>userc@gmail.com</td>
          <td>User</td>
          <td>Actived</td>
          <td>User</td>
          <td>***</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

<router-outlet></router-outlet>
</fury-scrollbar>



